/* Для плавной прокрутки */
html {
    scroll-behavior: smooth;
}

/* Стиль для навигационного меню */
nav {
    position: fixed;
    top: 0; /* Убедитесь, что меню будет сверху */
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый фон */
    width: 100%;
    padding: 10px 0; /* Немного отступа сверху и снизу для удобства */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для лучшего контраста */
    z-index: 1000; /* Чтобы меню было на переднем плане */
}

/* Стили для списка */
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%; /* Ограничиваем ширину, чтобы меню не растягивалось */
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 50px;
}

/* Стили для изображений в меню */
ul img {
    height: 60px; /* Уменьшаем размер изображений для лучшего визуального восприятия */
}

/* Стили для ссылок */
.menu {
    text-decoration: none;
    color: #333; /* Темно-серый цвет для текста */
    font-size: 18px; /* Размер шрифта */
    font-weight: 600; /* Сделаем шрифт более выразительным */
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

/* Эффект при наведении на ссылки */
.menu:hover {
    color: #5798ff; /* Синий цвет при наведении */
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    ul {
        /* flex-direction: column; Для мобильных устройств меню будет вертикальным */
        gap: 20px;
    }

    ul img {
        height: 50px; /* Уменьшаем изображения для мобильных экранов */
    }

    .menu {
        font-size: 16px; /* Уменьшаем размер шрифта для мобильных */
    }
}
